.card_box {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #e0d8d7;
  border-bottom: 5px solid #ed1c24;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.card_head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 24px 0 24px;
}

.card_button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  margin: 0;
}

.card_heading {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 136%;
  text-transform: uppercase;
  color: #400e03;
}

.card_description {
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #400e03;
}
