.slider_button {
  background: #ffffff;
  padding: 16px 24px;
  margin-top: 32px;
  border-radius: 0;
  font-family: "Sora";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ed1c24;
  white-space: nowrap;
}

.slider_button.red {
  background: #ed1c24;
  border-radius: 2px;
  gap: 10px;
  padding: 16px 41.5px;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.slider_button.pink {
  background: #fde4e5;
  border-radius: 2px;
  gap: 10px;
  padding: 16px 41.5px;
  font-size: 12px;
  line-height: 15px;
  color: #ed1c24;
}

.slider_button.big {
  padding: 16px 72px;
}
