.header {
  background: #ffffff;
}
.header_right {
  display: flex;
  align-items: center;
  color: #400e03;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.header_right a {
  transition: color 0.2s ease;
}

.header_right a:hover {
  color: #ed1c24;
}

.header_logo{
  display: flex;
  align-items: center;
  padding: 1rem;
}

@media only screen and (min-width: 948px) {
  .header_menu{
    display: none;
  }
}

@media only screen and (max-width: 948px) {
  .header_right {
    display: none;
  }
  .header_menu{
    display: flex;
  }
}