.header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  background: #ffffff;
  box-shadow: 4px 0 4px rgb(0 0 0 / 25%);
}
.header_right {
  display: flex;
  align-items: center;
  color: #400e03;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.header_right a {
  transition: color 0.2s ease;
}

.header_right a:hover {
  color: #ed1c24;
  padding-bottom: 3px;
  border-bottom: 3px solid #ed1c24;
}

.header_logo{
  display: flex;
  align-items: center;
  padding: .7rem;
  cursor: pointer;
}

@media only screen and (min-width: 948px) {
  .header_menu{
    display: none;
  }
}

@media only screen and (max-width: 948px) {
  .header_right {
    display: none;
  }
  .header_menu{
    display: flex;
  }
}